.card {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-action {
    display: flex !important;
    justify-content: space-between;
}

.card-media {
    width: 4rem !important;
    text-align: center;
}